[submodule "ThirdParty/VMA"]
	path = ThirdParty/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
